.user-logged-letter {
  text-align: center;
  width: 65%;
  height: 250px;
  position: absolute;
  top: 9em;
  left: 0;
  right: 0;
  margin: auto;
  user-select: none;
}

.user-logged-letter b {
  font: 400 10vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444,
    0 0 0.1em #ff4444, 0 10px 3px #000;
}
.user-logged-letter b span {
  animation: blink linear infinite 2s;
}
.user-logged-letter b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    box-shadow: none;
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

.btns{
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 7em;
  gap: 20px;
}
.btn-user-logged{
  padding: 8px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: var(--secondary-color);
  box-shadow: 0 5px 100px, 0 0 2px, 0 0 1em var(--secondary-color), 0 0 0.5em var(--secondary-color),
    0 0 1em var(--secondary-color), 0 10px 3px #000;
    cursor: pointer;
}

.btn-user-logged:hover{
  box-shadow: none;
}