.slider {
  width: 90%;
  overflow: hidden;
  padding: 2rem;
  margin: 0 auto 50px;
  color: rgb(152, 150, 150);
  background-color: white;
  box-shadow: 0 5px 100px, 0 0 2px, 0 0 1em #4451ff, 0 0 0.5em #4451ff,
    0 0 1em #4451ff, 0 10px 3px #000;
  outline: var(--secondary-color) 2px solid;
}
.slider img {
  width: 100%;
}

@media (min-width: 850px) {
  .product {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 30px;
  }
} 


