.products-container {
    padding: var(--padding-mobile);
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 2.5em;
}
@media (max-width: 550px) {
    .products-container {
        margin: 0;
        padding: 0;
        padding-top: var(--padding-mobile);
        padding-bottom: var(--padding-mobile);
    }
}